.ant-drawer-body {
    padding: 24px 0;
}

@media(max-width: 767px) {
    .ant-modal-mask, .ant-modal-wrap {
        display: none;
    }   
}

@media(min-width: 768px) {
    #mobile-form {
        display: none;
    }   
}

.ant-layout-sider {
    position: absolute;
}

.ant-row {
    flex-flow: unset;
    display: -webkit-box;
}

.ant-card-body {
    padding: 12px;
}

.ant-layout {
    background: white;
}

.ant-layout.ant-layout-has-sider>.ant-layout {
    overflow-x: hidden;
}

.ant-menu {
    background: #522872;
    border: none;
}

.ant-spin-blur {
    opacity: 0;
}

.ant-spin-nested-loading>div>.ant-spin .ant-spin-text {
    text-shadow: none;
}
/* spin밑에 로딩글자의 그림자 지움 */

.ant-menu-inline {
    width: 256px;
} 
/* mode가 inline시 변경되는 메뉴의 크기 임의로 수정 */
/* aside {
    max-width: 256px;
} */