.ant-drawer-body {
    padding: 24px 0;
}

@media(max-width: 767px) {
    .ant-modal-mask, .ant-modal-wrap {
        display: none;
    }   
}

@media(min-width: 768px) {
    #mobile-form {
        display: none;
    }   
}

.ant-layout-sider {
    position: absolute;
}

.ant-row {
    flex-flow: unset;
    display: -webkit-box;
}

.ant-card-body {
    padding: 12px;
}

.ant-layout {
    background: white;
}

.ant-layout.ant-layout-has-sider>.ant-layout {
    overflow-x: hidden;
}

.ant-menu {
    background: #522872;
    border: none;
}

/* aside {
    max-width: 256px;
} */